{% extends "base.html" %}

{% block title %}List View for {{template.title }} {% endblock %}
{% block content %}

<div id="listings">
     <table class="tablesorter">
           <thead>
	         <tr>
		     <th>Name</th>
		     <th>Description</th>
		 </tr>
	   </thead>
	   <tbody>
	         {% for rec in records %}
		 <tr>
		     <td><a href="Management/Detail/{{template.type }}/{{rec.id}}">{{rec.name}}</a></td>
		     <td>{{rec.description}}</td>
		 </tr>
		 {% endfor %}
	   </tbody>
      </table>
</div>

<input type="button" name="add" value="Add" onclick="window.location('Management/Add/{{template.type}');" />

{% endblock % }
