{% load custom_tags %}
<!DOCTYPE HTML>
<html>
  <head>
     <title>{% block title %}Bullhorn -- Keeping you informed {% endblock %}</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
     <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
     <script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script>  -->
     <!--<script type="text/javascript" src="/static/js/bootstrap-tagmanager.js"></script>  -->
     <link rel="stylesheet" type="text/css" href="/static/css/jquery.tagsinput.css" />
     <!-- <link href="/static/css/cerulean.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
                  <a class="brand pull-left" href="#">Project Bullhorn</a>
		   <div class="nav-collapse collapse">
		      <ul class="nav">
			      <li {% if current_page == "home" %}class="active" {% endif %}>
			      <a href="/">Home</a></li>

			      <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
			          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			             <li><a href="/event">List Events</a></li>
			             <li><a href="/event/add">Add Event</a></li>
			          </ul>
			      </li>
			      <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts <b class="caret"></b></a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenu">
			              <li><a href="/contact">List Contacts</a></li>
				      <li><a href="/contact/add">Add Contact</a></li>
				  </ul>
		    	      </li>
			      <li class="dropdown">
			     	 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Devices <b class="caret"></b></a>
				 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
				     <li><a href="/device">List Devices</a></li>
				     <li><a href="/device/add">Add Device</a></li>
				 </ul>
			      </li>
			      <li class="dropdown">
			         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
				 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			             <li><a href="/tagtype/add">Add Tag Type</a></li>
				     <li class="divider"></li>
				     {% for category in categories %}
				     <li><a href="/tagtype/view/{{ category.id }}">{{ category.name }}</a></li>
				     {% endfor %}
				 </ul>
		 	      </li>
			      <li class="dropdown">
			         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Alert Center<b class="caret"></b></a>
				 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
			             <li><a href="/alert">List Alerts </a></li>
				     <li><a href="/alert/update">Update Alerts</a></li>
				 </ul>
			     </li>
		      </ul>
                      <div class="pull-right">
                      {% if  user.is_authenticated %}
		         <a class="btn btn-primary" href="/logout">Logout, {{ user.first_name }}</a>
                      {% else %}
                          <a class="btn btn-primary" href="/login">Login</a>
                      {% endif %}
	      	      </div> <!-- pull-right -->
                      <!---<form class="navbar-form form-search"> 
                          <input type="text" class="input-medium search-query">
                          <button type="submit" class="btn">Search</button>
		  </form> -->
		   </div> <!-- Collapse -->
	       </div> <!-- Container -->
           </div> <!--navbar-inner-->
      </div> <!-- navbar top -->
      <div class="container">
           {% block content %}<h3>Main content, Texas</h3>{% endblock %}
      </div> <!-- Content Container -->
      </div>
      <div id="footer">
          <div class="container">
              <p class="muted credit">Developed by <a href"mailto:jeff@allthingsdork.com">Jeffery Smith</a></p>
      </div>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js'></script>
     <script type="text/javascript" src="/static/js/jquery.tagsinput.js"></script> 
     <script src="/static/js/bootstrap.min.js"></script>
     <script type='text/javascript'>
	$(document).ready(function () {
		$(".tags").each(function () 
			{
                               $(this).tagsInput();
			});
		var options = {{ metadata|js_array|safe}};
		$('input[data-default="add a tag"]').typeahead(
			{ source: options });
	});
      </script>
  </body>
</html>

