{% extends "base.html" %}
{% block title %}Bullhorn -- Tag Types{% endblock %}

{% block content %}

<div class="row">
    <h1>Category</h1>
    <p>Listing of all the tags that belong to particular tag type as well as 
    any devices that have that associated tag</p>
</div>
<hr />

<div class="row">
    <h3>{{ category.name }}</h3>
    <table class="table table-striped">
        <tr><td>Total number of tags</td><td>{{ tag_count }}</td></tr>
        <tr><td>Total Number of devices in category</td>
            <td>{{ node_count }}</td>
        </tr>
        <tr><td>Tags</td>
        <td>
        {% for tag in tags %}
        <a href="/tag/view/{{ tag.id }}">
            <span class="label label-info">{{ tag.metadata.name }}</span>
        </a>
        {% endfor %}
        </tr>
        <tr>
            <td>Devices</td>
            <td>
                {% for node in nodes %}
                <a href="/device/view/{{ node.id }}">
                    <span class="label label-info">{{ node.name }}</span>
                </a>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}
