{% extends "base.html" %}
{% block title %}Bullhorn -- Contacts{% endblock %}

{% block content %}

<div class="row">
    <h1>Contact Listing</h1>
    <p>Contacts help you list people associated with a change. This can be
    useful for people who need more information on a particular change that's
    going to occur. All registered users are automatically entered as contacts,
    but not all contacts have user accounts on this system.</p>
</div>

<div class="row">
    {% if contacts %}
    <table class="table table-striped">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Office Phone</th>
            <th>Mobile Phone</th>
            <th>Skype Handle/MSN</th>
        </tr>
        {% for contact in contacts %}
        <a href="www.google.com"><tr>
            <td>{{ contact.first_name }}</td>
            <td>{{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.office }}</td>
            <td>{{ contact.mobile }}</td>
            <td>{{ contact.instant_message }}</td>
        </tr></a>
       {% endfor %}
    </table>
    {% else %}
    <p>
        <h1>No Contacts Saved</h1>
    </p>
    {% endif %}
</div>
{% endblock %}
