{% extends "base.html" %}                                  
 
{% block title %}Bullhorn -- Event Listings{% endblock %}
 
{% block content %}

<div class="row">
   <h3>Scheduled Events</h3>
   <p>This is a list of all events that are currently scheduled. Events are organizaed by date. 
   Click the event name to see more details for the event. Click the tag name label to see more
   details about that particular tag.</p>
</div>
<hr />
<div class="row"> 
   {% if events %}
   <table class="table table-striped">
       <tr>
	   <th>Event Name</th>
	   <th>Event Date</th>
	   <th>Short Description</th>
	   <th>Tags</th>
       </tr>
       {% for event in events %}
       <tr>
	   <td>
	       <a href="/event/view/{{ event.id }}">
	           {{ event.name }}
	       </a>
	   </td>
	
	   <td>{{ event.event_date }}</td>
	   <td>{{ event.short_description }}</td>
	   <td>
	       {% for tag in event.tags.all %}
	       <a href="/tagtype/view/{{ tag.id }}">
	           <span class="label label-info">{{ tag.name }}</span>
       	       </a>
	       {% endfor %}
	   </td>
       </tr>
       {% endfor %}
   </table>
    {% else %}
    <h3>No events currently scheduled</h3>
    {% endif %}
</div> <!-- top row -->
{% endblock %}
