{% extends "base.html" %}

{% block title %}Welcome to Project Bullhorn{% endblock %}


{% block content %}
<div class="row">
    <div class="hero-unit">
	{% for event in events|slice:":1" %}
	<h1>Next Scheduled Change</h1>
	<strong>{{ event.event_date }}</strong>
	<hr />
	<h3>{{ event.name }}</h3>
	<p>{{ event.short_description }} on {{ event.event_date }}</p>
	<p><a href="/event/view/{{ event.id }}" class="btn btn-primary btn-large">
            View Details &raquo;</a>
        </p>
	{% endfor %}
    </div>
    <div class="row">
    {% for event in events|slice:"1:7" %}
        <div class="span4">
            <h4>{{ event.name }}</h4>
            <p>{{ event.short_description }} on {{ event.event_date }}</p>
            <p><a class="btn" href="/event/view/{{ event.id }}">View Details &raquo;</a></p>
        </div>
        {% if forloop.counter == 3 %}
             </div>
             <div class="row">
        {% endif %}
    {% endfor %}
    </div>
    </div>
</div>
{% endblock %}

