{% extends "base.html" %}
{% block title %}Bullhorn -- Add New Device{% endblock %}

{% block content %}

<div class="row">
    <div class="span10">
        <h1>Create New Device</h1>
        <p>Create a new device to be tracked by the system. You can
        apply tags to a device to make it easy to find devices and things that
        people actually care about.</p>
    <hr />
    </div>

    <div class="row">
        <div class="span10">
            {% if success_message %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Nice! </strong>{{ success_message }}
            </div>
            {% endif %}
            {% if form.errors %}
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Failed to save!</strong>
                <ul>
                {% for field in form %}
                    {% if field.errors %}
                    {% for error in field.errors %}
                        <li>{{ field.name|capfirst }} -- {{ error }}</li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            {% endif %}
           <form class="form-horizontal" action="/device/add" method="POST">
               {% csrf_token %}
               {% for field in form %}
                   <div class="control-group">
                        <label class="control-label" for="{{ field.html_name }}">
                            {{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                         </div>
                    </div>
                 {% endfor %}
                 <div class="control-group">
                     <div class="controls">
                         <button type="submit" class="btn">Add Event</button>
                     </div>
                 </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
