{% extends "base.html" %}
{% block title %}Bullhorn -- {{ event.name }} {% endblock %}

{% block content %}
<div class="row">
    <div class="row">
        <div class="span10">
            <h2>{{ event.name }}</h2>
        </div>
    </div>
    <hr />
    {% if success_message %}
    <div class="row">
        <span class="alert alert-success">{{ success.message }}</span>
    </div>
    {% endif %}
    <div class="row">
        <div class="span2">
            <strong>When:</strong>
        </div>
        <div class="span8">
            <p>{{ event.event_date }}</p>
        </div>
    </div>
    <div class="row">
	<div class="span2">
	    <strong>Short Description:</strong>
	</div>
	<div class="span8">
            <p>{{ event.short_description|linebreaks }}</p>
	</div>
    </div>
    <div class="row">
        <div class="span2">
            <strong>Description:</strong>
        </div>
        <div class="span8">
            <p>{{ event.description|linebreaks }}</p>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <strong>Point of Contact:</strong>
        </div>
        <div class="span8">
            {% for contact in event.contacts.all %}
            <a href="mailto:{{ contact.email }}">
                <span class="label label-info">
                    {{ contact.email }}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="row">
        <h3>Event Tags</h3>
        <table class="table table-striped">
            <tr>
                <th>Category</th>
                <th>Tags</th>
            </tr>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    {% for tag in event.tags.all %}
                    {% if tag.category.id == category.id %}
                       <a href="/tag/view/{{ tag.id }}">
                           <span class="label label-info">
                               {{ tag.metadata.display_name }}
                           </span>
                       </a>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
         </table>
         <div class="span10">
             <a class="btn pull-right" href="/event/edit/{{ event.id }}">Edit</a>
         </div>
     </div>
</div>
{% endblock %}
